@import '../components/burger-menu';

/* Global */

.sidebar {
  width: 190px;
  height: 100vh;
  background-color: $paragraph-color;
  z-index: 2;

  .container-sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    padding-top: 15px;
    background-color: $paragraph-color;

    .logo-image {
      width: 50%;
      padding-left: 16px;

      img {
        float: left;
      }
    }

/* Menu */

    .list-menu {
      height: 322px;
      border-bottom: 2px solid $dark-gray;

      ul {
        margin-top: 30px;
        padding-left: 0;

        li {
          height: 34px;
          margin: 8px 0;
          border-left: 3px $paragraph-color solid;

          &:hover {
            background-color: $select-sidebar-menu;
            color: white;
            border-left-color: $orange;
          }

          a {
            height: 30px;
            margin: 0;
            font-size: 13px;
            list-style-type: none;
            text-decoration: none;
            color: grey;
          }

          img {
            margin: 11px 0 0 10px;
            height: 13px;
            width: 27px;
            filter: invert(70%);
            float: left;
          }

          .link-title-sidemenu {
            padding-top: 9px;

            span {
              padding: 0 0 0 8px;
              height: 30px;
            }
          }
        }

        li:hover a {
          list-style-type: none;
          color: white;

          img {
            filter: invert(100%);
          }
        }
      }
    }
  }

  /* ManagerList */

  .under-menu {
    color: white;
    text-align: left;

    a {
      text-decoration: none;
    }
    
    p {
      font-size: 13px;
      margin: 15px;
    }

    .list-managers {
      display: flex;
      margin: 0;

      .name-manager {
        display: block;
        font-size: 17px;
        color: white;
        margin: 13px 0 0 0;
      }

      img {
        height: 40px;
        width: 40px;
        margin: 4px 0 4px 20px;
        margin-right: 20px;
        display: inline-block;
        border-radius: 45%;
      }
    }

    .list-managers:hover {
      background: #3b3a3a;
    }
  }

  .hidden {
    display: none;
  }
}