.top-bar {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background: white;
  color: $top-bar-text;
  position: fixed;
  z-index: 1;
  justify-content: flex-end;
}

.blank-col {
  height: 60px;
  width: 70%;
  background-color: white;   
  cursor: pointer;
}

.cash {
  height: 60px;
  width: 190px;
  background-color: white;
  margin: 0 1px 0 1px;
  cursor: pointer;
  position: relative;
  border-left: .5px solid black;
  border-right: .5px solid black;

  img {
    padding: 20px 0 0 22px;
    height: 40px;
    position: absolute;
  }

  .wallet-value {
    margin: 18px 0 0 50px;
    font-size: 19px;
    color: $medium-gray;
    position: absolute;
  }

  .image-menu-wallet {
    margin: 8px 0 0 125px;
    height: 30px;
    position: absolute;
  }
}

.notification {
  height: 60px;
  width: 60px;
  background-color: white;
  cursor: pointer;

  img {
    height: 20px;
    margin-top: 20px;
    margin-left: 18px;
    position: relative;
  }

  .availability-icon {
    width: 8px;
    background-color: orange;
    height: 8px;
    border-radius: 45%;
    position: absolute;
    margin-top: -25px;
    margin-left: 27px;
  }
}

.profile {
  height: 60px;
  width: 200px;
  border-left: .5px solid black;
  border-right: .5px solid black;
  background-color: white;
  cursor: pointer;
  position: relative;

  img {
    margin: 19px 0 0 10px;
    height: 21px;
    float: left;
    position: absolute;
  }

  .user-name {
    margin: 19px 0 0 35px;
    font-size: 16px;
    float: left;
    color: $user-name-color;
  }
}

.logout {
  height: 60px;
  width: 60px;
  background-color: white;
  justify-content: flex-end;
  border-right: .5px solid black;
  cursor: pointer;

  img {
    height: 18px;
    margin: 20px 0 0 20px;
  }
}

.blank-col:hover, .cash:hover, .notification:hover, .profile:hover, .logout:hover {
  background: $light-gray;
}