.top-bar {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  background: $dark-gray;
  color: $top-bar-text;
  grid-template-columns: 70% 15fr 4fr 13fr 5fr;
  grid-template-areas:
  "blank cash notification profile logout";
  position: fixed;
  z-index: 1;
}

.blank-col {
  height: 60px;
  background-color: white;   
  grid-area: blank;
  cursor: pointer;
  float: left;
}

.cash {
  height: 60px;
  background-color: white;
  grid-area: cash;
  margin: 0 1px 0 1px;
  cursor: pointer;

  img {
    padding: 19px 0 0 10%;
    height: 18px;
    float: left;
  }

  .wallet-value {
    margin: 18px 10px 0 16px;
    font-size: 18px;
    float: left;
    color: $medium-gray;
  }

  .image-menu-wallet {
    height: 8px;
    padding: 28px 0 0 12px;
  }
}

.notification {
  height: 60px;
  background-color: white;
  float: left;
  grid-area: notification;
  cursor: pointer;
  position: relative;

  img {
    width: 100%;
    height: 20px;
    padding: 20px 0 0 0;
  }

  .availabilityIcon {
    background-color: orange;
    height: 8px;
    width: 8px;
    border-radius: 45%;
    position: absolute;
    top: 15px;
    right: 18px;
    margin: 2px;
  }
}

.profile {
  height: 60px;
  background-color: white;
  margin: 0 1px 0 1px;
  grid-area: profile;
  cursor: pointer;

  img {
    height: 16px;
    padding: 22px 0 0 7%;
    float: left;
  }

  .user-name {
    margin: 22px 0 0 5%;
    font-size: 13px;
    float: left;
    color: $user-name-color;
  }
}

.logout {
  float: left;
  background-color: white;
  grid-area: logout;
  cursor: pointer;

  img {
    height: 14px;
    padding: 22px 0 0 20px;
  }
}

.blank-col:hover, .cash:hover, .notification:hover, .profile:hover, .logout:hover {
  background: $light-gray;
}